*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.search-container{
    display: flex;
}
#search-input{
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}
#search-btn{
    padding: 5px 10px;
    background-color: rgb(5, 250, 168);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.category-container{
    display: flex;
}
.category-btn{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(55, 55, 243);
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.category-btn.active{
    background-color: rgb(44, 102, 150);
}
.product-item{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}
#product-list{
    display: flex;
    padding: 20px;
    text-align: center;
}